<!DOCTYPE html>
<html>
    <%- include("head_stuff.ejs") %>

    <% 
    
    if(pronouns == "%ASK_ME%"){
        pronouns = "contact me to know";
    }else if (pronouns == "avoid"){
        pronouns = "I'd rather be called by my name";
    }else{
        pronouns = "my current pronouns are " + pronouns;
    }
    
    %>
    <body>
        <article class="paragraph">
            <h1>Hello there !</h1>
            <p>
                I'm SomeBoringNerd, I'm <%= year %> years old autistic trans-fem, I'm a french student that studies programming.
                <%= pronouns %> and go by the name Morgane. I enjoy anime, video games (especially Team Fortress 2 and Minecraft), and learning new things in programmation.
                <br><br>
                I have picked up tech when I was about 12, back then I first learned a bit of Python, HTML and CSS. <%= tech %> years later, I write code mostly for fun,
                I b-became a UwU Awch Winyux usew and I'm enjoying every second of it.
                <br><br>
                I mostly code in Java, JavaScript and, at a somewhat correct level, C and C++.
                I also love self-hosting and own 3 servers, the detail of it can be found on <a href="https://git.someboringnerd.xyz/SomeBoringNerd/Infrastructure" target="_blank">my gitea account</a>
            </p>
        </article>
        <%- include("footer.ejs") %>
    </body>
</html>