<!DOCTYPE html>
<html>
    <%- include("head_stuff.ejs") %>
    <body style="text-align: center;">
        <br><br>
        <article class="grid-container">    
            <div class="grid-x grid-margin-x"> 
                <%for(let i = 0; i < Object.keys(project_obj).length; i++){%>
                <div class="cell medium-4">     
                    <img class="thumbnail" src="<%- project_obj["" + i].img_path %>" height="50%" width="50%"><br>
                    <h3><a href="<%- project_obj["" + i].url%>"><%- project_obj["" + i].name %></a></h1><br>
                    <p class="paragraph"><%= project_obj["" + i].desc %></h3><br><br>
                </div>
                <%}%>
            </div>
        </article>
        
        <%- include("footer.ejs") %>
    </body>
</html>